<a href="https://colab.research.google.com/github/LouranHa/isys2001-assignment-demo/blob/main/Notebooke2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#here is how I download the data
!wget -O enron.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1

In [ ]:
#here is how I connect to the databases
import sqlite3
con = sqlite3.connect('enron.db')
cur = con.cursor()

In [ ]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('your_database.db')

# Write an SQL query to extract the desired information
query = '''
SELECT sender, rvalue AS recipient, date, subject, body
FROM Message m
JOIN Recipientinfo r ON m.mid = r.mid
'''

# Execute the query and load the results into a DataFrame
df = pd.read_sql_query(query, con)

# Close the database connection
conn.close()
# Now you can work with the DataFrame
print()

# Perform further analysis or manipulate the DataFrame as needed
# For example, you can access specific columns like df['sender'], df['date'], etc.

In [ ]:
#here us how i load a table 
SQL='''
SELECT * FROM Employeelist

'''
cur.execute(SQL)

import pandas as pd
Employeelist_df = pd.read_sql_query(SQL, con)
Employeelist_df

In [ ]:
import re

def clean(text):
    ''' Uses regular expression to extract English letters and digits from the supplied text. '''
    regExp = "(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"
    return ' '.join(re.sub(regExp, " ", text).split())

# Load SQL query here ...

SQL = '''
SELECT * FROM Employeelist
'''

cur.execute(SQL)

import pandas as pd
message_df = pd.read_sql_query(SQL, con)

# Apply the clean function to the 'text' column
Employeelist_df['Clean Text'] = Employeelist_df['Email_id'].apply(clean)

Employeelist_df.head()

In [ ]:
import pandas as pd

# Load SQL query here ...

SQL = '''
SELECT * FROM Employeelist
'''

cur.execute(SQL)

Employeelist_df = pd.read_sql_query(SQL, con)

# Handle missing values
Employeelist_df.dropna(subset=['lastName'], inplace=True)

# Handle inconsistent values
Employeelist_df['lastName'] = Employeelist_df['lastName'].str.lower()
Employeelist_df.head(20)

In [ ]:
import pandas as pd

# Load SQL query here ...

SQL = '''
SELECT * FROM message
'''

cur.execute(SQL)

message_df = pd.read_sql_query(SQL, con)

# Handle missing values
message_df.dropna(subset=['sender'], inplace=True)

# Handle inconsistent values
message_df['sender'] = message_df['sender'].str.lower()
message_df.head()

In [ ]:
import pandas as pd

# Load your data into a DataFrame
SQL='''
SELECT * FROM Employeelist

'''
cur.execute(SQL)

# Calculate the count of missing values and percentage
missing_values_count = df.isnull().sum()
percentage_missing_values = (missing_values_count / len(df)) * 100

# Print the percentage of missing values
print(percentage_missing_values)

clean and preprocess the data

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import re

# Connect to the Enron Email SQLite database
conn = sqlite3.connect('enron.db')

# SQL query to count the number of messages sent per month
sql_query = '''
SELECT strftime('%Y-%m', date) AS month, COUNT(*) AS message_count
FROM Message
GROUP BY month
ORDER BY month
'''

# Execute the query and load results into a Pandas DataFrame
df = pd.read_sql_query(sql_query, conn)

# Define a cleaning function
def clean_text(text):
    cleaned_text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text)
    cleaned_text = cleaned_text.strip()
    cleaned_text = cleaned_text.lower()
    return cleaned_text

# Apply cleaning function to the 'month' column
df['month'] = df['month'].apply(clean_text)

# Convert 'month' column to datetime format
df['month'] = pd.to_datetime(df['month'])


# Sort the DataFrame by 'month' column
df.sort_values(by='month', inplace=True)

# Set 'month' column as the DataFrame index
df.set_index('month', inplace=True)

# Plot the volume of emails sent over time
plt.plot(df.index, df['message_count'])
plt.xlabel('Time')
plt.ylabel('Number of Messages')
plt.title('Volume of Emails Sent Over Time (Per Month)')
plt.xticks([], [])

plt.grid(False)
plt.show()

# Close the database connection
conn.close()

In [ ]:
import sqlite3

# Connect to the Enron Email SQLite database
conn = sqlite3.connect('enron.db')

# Get the cursor object
cur = conn.cursor()

# Execute the PRAGMA command to retrieve the schema of the 'Message' table
cur.execute("PRAGMA table_info(Message)")

# Fetch all the rows returned by the query
rows = cur.fetchall()

# Print the schema information
for row in rows:
    print(row)

# Close the database connection
conn.close()

In [ ]:
import sqlite3

# Connect to the Enron Email SQLite database
conn = sqlite3.connect('enron_email.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Retrieve the list of tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

# Print a message indicating the loop is finished
print("Table names retrieved successfully.")

# Close the database connection
conn.close()

In [ ]:
import sqlite3
import pandas as pd

# Connect to the Enron Email SQLite database
conn = sqlite3.connect('enron_email.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Write SQL query to extract relevant information from the 'Message' table
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Fetch all rows from the query result
rows = cursor.fetchall()

# Load the query results into a DataFrame
df = pd.DataFrame(rows, columns=[column[0] for column in cursor.description])

# Perform data manipulation tasks on the DataFrame
# Example: Filtering messages sent after a specific date
filtered_df = df[df['date'] > '2002-01-01']

# Example: Grouping messages by sender and calculating message count
grouped_df = df.groupby('sender').size().reset_index(name='message_count')

# Print the filtered DataFrame
print("Filtered DataFrame:")
print(filtered_df)

# Print the grouped DataFrame
print("Grouped DataFrame:")
print(grouped_df)

# Close the database connection
conn.close()

In [ ]:
import pandas as pd
import sqlite3

# Connect to the Enron Email SQLite database
conn = sqlite3.connect('enron_email.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Write the SQL query
SQL = '''
SELECT * FROM Message
'''

# Execute the query and load results into a DataFrame
message_df = pd.read_sql_query(SQL, conn)

# Close the database connection
conn.close()

# Perform data manipulation tasks on the DataFrame
# Example 1: Filtering
filtered_df = message_df[message_df['sender'] == 'specific_value']

# Example 2: Grouping and aggregation
grouped_df = message_df.groupby('sender').size().reset_index(name='message_count')

# Example 3: Aggregation
max_length = message_df['message_length'].max()

# Print the filtered DataFrame
print("Filtered DataFrame:")
print(filtered_df.head())

# Print the grouped DataFrame
print("Grouped DataFrame:")
print(grouped_df.head())

# Print the maximum message length
print("Maximum message length:", max_length)

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Connect to the Enron Email SQLite database
conn = sqlite3.connect('enron.db')

# SQL query to count the number of messages sent per month
sql_query = '''
SELECT strftime('%Y-%m', date) AS month, COUNT(*) AS message_count
FROM Message
GROUP BY month
ORDER BY month
'''

# Execute the query and load results into a Pandas DataFrame
df = pd.read_sql_query(sql_query, conn)

# Set the 'month' column as the DataFrame index
df.set_index('month', inplace=True)

# Create the time series line chart
plt.plot(df.index, df['message_count'])
plt.xlabel('Time')
plt.ylabel('Number of Messages')
plt.title('Volume of Emails Sent Over Time (Per Month)')

# Display the plot
plt.show()

# Close the database connection
conn.close()