<a href="https://colab.research.google.com/github/LouranHa/isys2001-assignment-demo/blob/main/Notebooke2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#here is how I download the data
!wget -O enron.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1

In [ ]:
#here is how I connect to the databases
import sqlite3
con = sqlite3.connect('enron.db')
cur = con.cursor()

In [ ]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('your_database.db')

# Write an SQL query to extract the desired information
query = '''
SELECT sender, rvalue AS recipient, date, subject, body
FROM Message m
JOIN Recipientinfo r ON m.mid = r.mid
'''

# Execute the query and load the results into a DataFrame
df = pd.read_sql_query(query, con)

# Close the database connection
conn.close()
# Now you can work with the DataFrame
print()

# Perform further analysis or manipulate the DataFrame as needed
# For example, you can access specific columns like df['sender'], df['date'], etc.

In [ ]:
#here us how i load a table 
SQL='''
SELECT * FROM Employeelist

'''
cur.execute(SQL)

import pandas as pd
Employeelist_df = pd.read_sql_query(SQL, con)
Employeelist_df

In [ ]:
import re

def clean(text):
    ''' Uses regular expression to extract English letters and digits from the supplied text. '''
    regExp = "(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"
    return ' '.join(re.sub(regExp, " ", text).split())

# Load SQL query here ...

SQL = '''
SELECT * FROM Employeelist
'''

cur.execute(SQL)

import pandas as pd
message_df = pd.read_sql_query(SQL, con)

# Apply the clean function to the 'text' column
Employeelist_df['Clean Text'] = Employeelist_df['Email_id'].apply(clean)

Employeelist_df.head()

In [ ]:
import pandas as pd

# Load SQL query here ...

SQL = '''
SELECT * FROM Employeelist
'''

cur.execute(SQL)

Employeelist_df = pd.read_sql_query(SQL, con)

# Handle missing values
Employeelist_df.dropna(subset=['lastName'], inplace=True)

# Handle inconsistent values
Employeelist_df['lastName'] = Employeelist_df['lastName'].str.lower()
Employeelist_df.head(20)

In [ ]:
import pandas as pd

# Load SQL query here ...

SQL = '''
SELECT * FROM message
'''

cur.execute(SQL)

message_df = pd.read_sql_query(SQL, con)

# Handle missing values
message_df.dropna(subset=['sender'], inplace=True)

# Handle inconsistent values
message_df['sender'] = message_df['sender'].str.lower()
message_df.head()

In [ ]:
import pandas as pd

# Load your data into a DataFrame
SQL='''
SELECT * FROM Employeelist

'''
cur.execute(SQL)

# Calculate the count of missing values and percentage
missing_values_count = df.isnull().sum()
percentage_missing_values = (missing_values_count / len(df)) * 100

# Print the percentage of missing values
print(percentage_missing_values)